<app-side-bar>
    <ng-container *ngIf="role === 'Solicitante'" class="body">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Solicitudes</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/requests"> Solicitudes</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Agregar</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div *ngIf="isLoading === true" class=" row align-items-center">
                        <mat-spinner class="mat-spinner" style="margin: 0 auto"></mat-spinner>
                    </div>
                    <form *ngIf="isLoading === false" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row align-items-center">
                                    <label class="col-sm-12 col-form-label">Tipos
                                        <ng-select2 formControlName="aid" width="100%"
                                                    [ngClass]="{'is-invalid': submitted && f.aid.errors }"
                                                    [data]="aids"
                                                    [options]="aidOptions"
                                                    [value]="'0'"
                                                    (valueChanged)="aidChanged($event)">
                                        </ng-select2>
                                        <div *ngIf="submitted && f.aid.errors" class="invalid-feedback">
                                            <div *ngIf="f.aid.errors.required">El Insumo es Requerido</div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                         </div>
                         <div class="hr-line-dashed"></div>
                         <div class="form-group row">
                             <div class="col-sm-11"></div>
                             <div class="form-group">
                                 <button class="btn btn-primary btn-sm" [disabled]="buttonDisabled" type="submit">
                                     Guardar
                                 </button>
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2018
            </div>
        </div>
    </ng-container>
</app-side-bar>
