<app-side-bar>
    <ng-container *ngIf="role === 'Administrador' || role === 'Consultor'" class="body">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Proyectos</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerLink="/projects"> Proyectos</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>{{projectId}}</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div *ngIf="isLoading === true" class=" row align-items-center">
            <mat-spinner class="mat-spinner" style="margin: 0 auto"></mat-spinner>
        </div>
        <div *ngIf="isLoading === false" class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="col-sm-12" >
                                <h1 class="text-navy">{{project.name}}</h1>
                                <h2 class="text-navy"> {{project.institution}}</h2>
                                <div *ngIf="role === 'Administrador'" class="m-b-xs">
                                    <a [routerLink]="['/projects/edit', projectId]" class="btn btn-primary">Editar</a>
                                </div>
                            </div>
                            <p class="invisible">aadfsdfsdfsd</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row col-sm-12">
                                        <div class="col-sm-4">
                                            <h3 class="text-navy">Encargados</h3>
                                            <h5 class="text-black-50" *ngFor="let person of peopleInCharge">{{person.firstName+' '+person.lastName}}</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3 class="text-navy">Interesado</h3>
                                            <h5 class="text-black-50">{{personConcerned.firstName+' '+personConcerned.lastName}}</h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3 class="text-navy">Precio</h3>
                                            <h5 class="text-black-50">{{price}}</h5>
                                        </div>
                                    </div>
                                    <p class="invisible">sd</p>
                                    <div class="row col-sm-12">
                                        <div class="col-sm-4">
                                            <h3 class="text-navy">Fecha de inicio</h3>
                                            <h5 class="text-black-50">{{startDate}}</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3 class="text-navy">Fecha fin</h3>
                                            <h5 class="text-black-50">{{endDate}}</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3 class="text-navy">Pagado</h3>
                                            <h5 class="text-black-50">{{project.paid ? 'Sí' : 'No'}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row col-sm-12">
                                        <h3 class="text-navy">Pagos</h3>
                                        <table class=" table table-striped text-center">
                                            <thead>
                                                <tr>
                                                    <th>Monto</th>
                                                    <th>Fecha</th>
                                                    <th>Total Pagado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let payment of project.payments">
                                                    <td>{{getPriceString(payment.amount)}}</td>
                                                    <td>{{getDateString(payment.date)}}</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>{{getPriceString(totalPaid)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <mat-tab-group dynamicHeight>
                                        <mat-tab label="Tareas por encargado">
                                            <div style="display: block">
                                                <canvas baseChart
                                                        [datasets]="barChartData"
                                                        [labels]="barChartLabels"
                                                        [options]="barChartOptions"
                                                        [legend]="barChartLegend"
                                                        [chartType]="barChartType">
                                                </canvas>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Tareas Completadas">
                                            <div style="display: block">
                                                <canvas baseChart
                                                        [data]="pieChartData"
                                                        [labels]="pieChartLabels"
                                                        [chartType]="pieChartType">
                                                </canvas>
                                                <div class="col-md-6">
                                                    Total de tareas: {{tasksLength}}
                                                </div>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Listado de tareas">
                                            <div class="ibox ">
                                                <div class="ibox-content">
                                                    <div class="row border-bottom">
                                                        <div *ngIf="role === 'Administrador' && isLoading === false" class="col-sm-5 m-b-xs">
                                                            <a [routerLink]="['/projects', projectId, 'tasks', 'add']" class="btn btn-primary">Agregar</a>
                                                        </div>
                                                        <div class="col-sm-3 m-b-xs"></div>
                                                        <div *ngIf="role === 'Consultor'" class="col-sm-5 m-b-xs"></div>
                                                        <div class="align-items-end col-sm-4">
                                                            <label class="col-sm-12 col-form-label">
                                                                <input class="form-control" type="search" placeholder="Busqueda..."
                                                                       [(ngModel)]="search" (input)="searchTyped()">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <p *ngIf="isLoading === false && (!currentPage || currentPage.length == 0)"
                                                       style="margin-top: 2.5%">No hay datos disponibles.</p>
                                                    <div *ngIf="isLoading === false && currentPage && currentPage.length != 0"
                                                         class="table-responsive">
                                                        <table class="table table-striped text-center">
                                                            <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                <th>Completado</th>
                                                                <th>Fecha de completación</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr *ngFor="let task of currentPage">
                                                                <td><a [routerLink]="['/projects', projectId, 'tasks', task.id]">{{ task.id }}</a></td>
                                                                <td>{{ task.name }}</td>
                                                                <td>{{ task.completed ? 'Sí' : 'No' }}</td>
                                                                <td>{{ task.completionDate || '-' }}</td>
                                                                <td>
                                                                    <a *ngIf="role === 'Administrador'"
                                                                       [routerLink]="['/projects/', projectId, 'tasks', 'edit', task.id]"
                                                                       class="btn btn-sm btn-outline-warning">
                                                                        <span class="fa fa-pencil"></span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="pagination float-right">
                                                            <mat-paginator [pageSize]="1" [length]="paginatedTasks.length" hidePageSize="true" showFirstLastButtons="true" (page)="onPageChanged($event)"></mat-paginator>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </mat-tab>
                                    </mat-tab-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2018
            </div>
        </div>
    </ng-container>
</app-side-bar>
