<body class="gray-bg">
<h1 class="text-center logo-name animated fadeInLeft">ALESCO</h1>
<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <h3>Cambiar Contraseña</h3>
        <form class="m-t" form [formGroup]="changePasswordForm" (ngSubmit)="checkPasswords()">
            <div class="form-group">
                <label class="col-sm-12 col-form-label">
                    <input type="password" class="form-control" formControlName="oldPassword" placeholder="Contrasena Actual" required="true"
                           [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                    <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.oldPassword.errors.required">Contraseña actual es requerida=</div>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-12 col-form-label">
                    <input type="password" class="form-control" formControlName="newPassword" placeholder="Contraseña Nueva" required="true"
                           [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.oldPassword.errors.required">La Contraseña es Requerida</div>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-12 col-form-label">
                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmar contraseña" required="true"
                           [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">La confirmación es requerida</div>
                    </div>
                </label>
            </div>
            <div *ngIf="isLoading === true" class=" row align-items-center">
                <mat-spinner class="mat-spinner" style="margin: 0 auto"></mat-spinner>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="buttonDisabled">Cambiar Contraseña</button>
        </form>
    </div>
</div>
</body>

