<app-side-bar>
    <ng-container *ngIf="role === 'Administrador' || role === 'Consultor'" class="body">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div *ngIf="isLoading === false" class="col-lg-10">
                <h2>Proyectos</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerLink="/projects"> Proyectos</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/projects', projectId]">{{projectId}}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Tareas</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="row border-bottom">
                                <div *ngIf="role === 'Administrador' && isLoading === false" class="col-sm-5 m-b-xs">
                                    <a [routerLink]="['/projects', projectId, 'tasks', 'add']" class="btn btn-primary">Agregar</a>
                                </div>
                                <div class="col-sm-3 m-b-xs"></div>
                                <div *ngIf="role === 'Consultor'" class="col-sm-5 m-b-xs"></div>
                                <div class="align-items-end col-sm-4">
                                    <label class="col-sm-12 col-form-label">
                                        <input class="form-control" type="search" placeholder="Busqueda..."
                                               [(ngModel)]="search" (input)="searchTyped()">
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="isLoading === true" class=" row align-items-center">
                                <mat-spinner class="mat-spinner" style="margin: 0 auto"></mat-spinner>
                            </div>
                            <p *ngIf="isLoading === false && (!currentPage || currentPage.length == 0)"
                               style="margin-top: 2.5%">No hay datos disponibles.</p>
                            <div *ngIf="isLoading === false && currentPage && currentPage.length != 0"
                                 class="table-responsive">
                                <table class="table table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Completado</th>
                                        <th>Fecha de completación</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let task of currentPage">
                                        <td><a [routerLink]="['/projects', projectId, 'tasks', task.id]">{{ task.id }}</a></td>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.completed ? 'Sí' : 'No' }}</td>
                                        <td>{{ task.completionDate || '-' }}</td>
                                        <td>
                                            <a *ngIf="role === 'Administrador'"
                                               [routerLink]="['/projects/', projectId, 'tasks', 'edit', task.id]"
                                               class="btn btn-sm btn-outline-warning">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="pagination float-right">
                                    <mat-paginator [pageSize]="1" [length]="paginatedTasks.length" hidePageSize="true" showFirstLastButtons="true" (page)="onPageChanged($event)"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2018
            </div>
        </div>
    </ng-container>
</app-side-bar>
